*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: url(berchtesgaden-alpine-watzmann-berchtesgaden-national-park-957002.jpeg);
    background-size: cover;
}
.signup{
    width: 350px;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
}
.signup h1{
    font-size: 40 px;
    text-align: center;
}
.signup p{
    font-size: 20 px;
    margin-left: 5%;
}
.button{
    font-size: 18px;
    margin:20px;
    padding: 2px 4px;
}
.signup input{
    font-size: 16 px;
    width: 80%;
    padding: 15px 10px;
    border-radius: 5px;
    margin-left: 5%;
}